.quiz-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  border: 1px solid #f2f2f2;
  border-radius: 5px;
  box-shadow: purple 0px 0px 2px 1px;
  width: 70%;
  height: max-content;
  margin: 50px auto;
}
.quiz-card__title {
  text-align: center;
  padding: 5px;
  border-width: 2px;
  border-style: solid;
  border-image: linear-gradient(
      to left,
      rgba(0, 0, 0, 0),
      purple,
      rgba(0, 0, 0, 0)
    )
    0 1 100%;
}
.quiz-card__options,
.quiz-card__options > div {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.quiz-card__btn {
  font-size: 1.2em;
  background-color: purple;
  color: white;
  width: 20%;
  border-radius: 5px;
  border: none;
}
