/* antd */
@import "~antd/dist/antd.css";
.ant-layout {
  height: 100vh;
}
/* reset */
html {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
}
* {
  cursor: default;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 70%;
  height: 100%;
  margin: auto !important;
}

button,
button:focus,
button:hover,
button:active {
  font-size: 1rem !important;
  text-align: center !important;
  outline-color: rgba(0, 0, 0, 0);
  outline-width: 0;
}

button {
  font-size: 1.2em;
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0 0 0.5rem;
  border-radius: 0.5rem;
}
